* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(83, 83, 153, 0.607);
    width: 500px;
    margin: auto;
    text-align: center;
    border: 2px solid black;
}

button {
    margin: 10px;
}

h1, p {
    text-align: center;
    margin: 10px;
}

#add-movie {
    margin: 10px;
}